body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Times New Roman', Times, serif;
}
p,h1,h2,h3,a,ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
    transition: .3s ease-in-out;

}

/* nav & footer styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

nav p, nav a{
    color: rgb(209, 195, 195);
    font-weight: 300;
}

nav a:hover{
    color: #222;
    text-decoration: none;
    transform: scale(1.1);
    margin: 0 10px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

footer{
    padding: 20px 0;
    text-align: center;
    color: #777;
    margin: 80px auto 20px;
}
h2{
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 40px;
}
h3{
    text-transform: capitalize;
    margin-bottom: 8px;
}

.content{
    margin-left: 20px;
}

.create-blog{
    max-width: 400px;
    margin: 0 auto;
}

.create-blog input,
.create-blog textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea{
    height: 200px;
}
.create-blog button{
    background: rgb(207, 0, 0);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 10px;
}