* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 0;
  background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
}

.pomodoro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  height: 600px;
  margin-inline: auto;
  background: rgb(195, 93, 93);
  background-size: cover;
  transition: all 0.3s;
  border-radius: 30px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.pomodoro__bcgr {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 1px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
}
.pomodoro__bcgr:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(236, 221, 7, 0.603);
}
.pomodoro__bcgr:active,
.pomodoro__bcgr :focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.pomodoro__bcgr1 {
  position: relative;
  background: url(../assets/Images/beach.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pomodoro__bcgr1:checked {
  background-color: #fff;
}
.pomodoro__bcgr2 {
  background: url(../assets/Images/fireplace.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pomodoro__bcgr3 {
  background: url(../assets/Images/birds.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pomodoro__bcgr4 {
  background: url(../assets/Images/rain.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pomodoro-timer {
  width: 100%;
}
.pomodoro-timer .row-pomodoro {
  display: flex;
  text-align: center;
  position: relative;
}
.pomodoro-timer .row-pomodoro .fa,
.pomodoro-timer .row-pomodoro .fas {
  font-weight: 900;
  font-size: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  transition: all 0.2s;
}
.pomodoro-timer .row-pomodoro .fa:hover,
.pomodoro-timer .row-pomodoro .fas:hover {
  color: #ffd800;
}
.pomodoro-timer .row-pomodoro p {
  color: #e4d3d3;
  font-size: 20px;
  top: -20px;
  left: 100px;
  position: absolute;
  font-family: "Patrick Hand", cursive;
}
.pomodoro-timer .row-pomodoro h3 {
  font-family: "Permanent Marker", cursive;
  color: #fff;
  border: 2px solid;
  border-radius: 30px;
  padding: 3px;
  transition: all 0.2s;
}
.pomodoro-timer .row-pomodoro h3:hover {
  color: #ffd800;
}
.pomodoro-timer .row-pomodoro h3:active,
.pomodoro-timer .row-pomodoro h3 :focus {
  outline: none;
  transform: translateY(2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.pomodoro-timer .row-pomodoro #timeLeft {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  font-family: "Patrick Hand", cursive;
}
.pomodoro-timer .row-pomodoro #buttonPause {
  display: none;
}
.pomodoro-timer .row-pomodoro #buttonRest {
  display: none;
}
.pomodoro-timer .row-pomodoro .btn-updown {
  font-size: 2.5rem;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  color: #fff;
  background: transparent;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.pomodoro-timer .lengthTime {
  display: inline-block;
  padding: 0 20px 0 20px;
  font-size: 35px;
  color: #fff;
  font-family: "Patrick Hand", cursive;
}
.pomodoro-startBtn {
  padding-top: 12px;
  width: 60%;
  display: flex;
}
.pomodoro .btn-controller {
  border: none;
  cursor: pointer;
  background-color: transparent;
}