<header class="header">
    <div class="overlay has-fade"></div>

    <nav class="container container--pall flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
            <img src="https://www.svgrepo.com/show/422589/color-lineal-onlineshop.svg" alt="MARKETPLACE" />
        </a>

        <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="header__links hide-for-mobile">
            <a href="/shopping">Home</a>
            <a href="#">About</a>
            <a href="/buying">Find product</a>
        </div>

        <button href="/selling" class="button header__cta hide-for-mobile">Start selling</button>
    </nav>

    <div class="header__menu has-fade">
        <a href="/shopping">Home</a>
        <a href="#">About</a>
        <a href="/buying">Find product</a>
    </div>
</header>
