<!DOCTYPE html>
    <html lang="en">
        <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>

        <div class=" flex-column" style="display: flex; justify-content: center; align-items: center; max-width: 80%; margin-top: 5%; margin-bottom: 5%; margin-left: 5%; ">

        <%- include('../partials/post.ejs') %>

        </div>

    
        <%- include('../partials/footer.ejs') %>
    </body>
    </html>
