<nav>
    <div class="site-title">
<!-- When outputing a SINGLE VALUE - need to put a equal sign after % sign -->
        <a href=""><h1>Cart</h1></a>
        <p>Shopping list</p>
    </div>
    <ul>
        <li><a href="#">Cart</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>