*{
    margin: 0 ;
}

.container{
display: flex;
justify-content: space-between;
}

.left{

}

.center{
display: flex;
align-items: center;
}

.right{

}

.sub{
    background-color: rgb(216, 240, 0);
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.unit-left{
margin-bottom: 5px;
}

.unit-center{
    margin-left: 40px;
}

.unit-right{
    margin-bottom: 5px;
}