<!DOCTYPE html>
<html lang="en">
<!-- HEADER -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- NAV -->
        <%- include('./partials/nav.ejs') %>

            <section class="hero">
                <div class="container">
                    <div class="hero__image"></div>
                    <div class="hero__text container--pall">
                        <h1>Find everything you need</h1>
                        <p>
                            Buy and sale youre products online in just two clicks !
                        </p>
                        <a href="/selling" class="button hero__cta">Start selling</a>
                    </div>
                </div>
            </section>

            <section class="feature">
                <div class="feature__content container container--pall">
                    <div class="feature__intro">
                        <h2>Why choose our marketplace?</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab tempora nulla excepturi animi
                            iste eum, praesentium cum, adipisci ipsum odit facilis nostrum, odio inventore est porro
                            harum deserunt totam doloremque necessitatibus soluta voluptatibus facere nemo aperiam.
                            Itaque et id quo placeat sapiente, tempora cupiditate. Quas, ducimus fuga. Aspernatur, ipsum
                            numquam.
                        </p>
                    </div>

                    <div class="feature__grid">
                        <div class="feature__item">
                            <div class="feature__icon">
                                <img src="/images/icon-online.svg" />
                            </div>
                            <div class="feature__title">Online shopping</div>
                            <div class="feature__description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ut dignissimos aperiam
                                iusto sapiente qui laudantium cupiditate, ducimus pariatur aut.
                            </div>
                        </div>

                        <div class="feature__item">
                            <div class="feature__icon">
                                <img src="/images/icon-budgeting.svg" />
                            </div>
                            <div class="feature__title">Simple lorem </div>
                            <div class="feature__description">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quas a facilis
                                saepe esse inventore cumque sit unde aliquam cupiditate dolor architecto, officia natus
                                quibusdam?
                            </div>
                        </div>

                        <div class="feature__item">
                            <div class="feature__icon">
                                <img src="/images/icon-onboarding.svg" />
                            </div>
                            <div class="feature__title">Fast Onboarding</div>
                            <div class="feature__description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore earum velit
                                exercitationem maxime ipsum ex.
                            </div>
                        </div>

                        <div class="feature__item">
                            <div class="feature__icon"><img src="/images/icon-api.svg" /></div>
                            <div class="feature__title">Open API</div>
                            <div class="feature__description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio vitae nisi
                                culpa!
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- FOOTER -->
            <%- include('./partials/footer.ejs') %>


    </body>

</html>